doctype html
html(lang='en')
  head
    title User not authorized
  body  
    h1 File Server
    h2
      |Operation not authorized for user&nbsp;
      span(style='color:blue;') #{user}
    h2(style='color:red;') Please, log in!