doctype html
html(lang='en')
  head
    title User not found
  body  
    h1 File Server
    h2
      |User&nbsp;
      span(style='color:red;') #{user}
      |&nbsp;not found!
    p(style='color:red;') Please, correct the user name.
